.container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: slategray;
  padding: 0.5em;
  min-height: 1.25em;
  width: 20em;
  border: 0.05em solid white;
  gap: 0.5em;
  border-radius: 0.25em;
  outline: none;
}

.container:focus {
  border-color: hotpink;
}

.value {
  flex-grow: 1;
}

.divider {
  width: 0.025em;
  background-color: white;
  align-self: stretch;
}

.caret-btn {
  background-color: transparent;
  display: grid;
  place-items: center;
}

.caret-btn:focus,
.caret-btn:hover {
  outline: none;
}

.caret {
  border: 0.5em solid transparent;
  border-top-color: white;
  translate: 0 25%;
  transition: transform 250ms ease;
}

.caret.open {
  transform: rotate(90deg);
  transform-origin: center center;
  translate: -25% 0;
}

.clear-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5em;
  padding: 0;
}

.clear-button:focus,
.clear-button:hover {
  color: hotpink;
  border: none;
  outline: none;
}

.options {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  max-height: 15em;
  overflow-y: auto;
  border: 0.05em solid white;
  border-radius: 0.25em;
  left: 0;
  width: 100%;
  top: calc(100% + 0.25em);
  background-color: slategray;
  z-index: 100;
}

.options.show {
  display: block;
}
